
@charset "utf-8";
/* CSS Document */

/*==== 初期設定 ====*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
}

body {
	line-height: 1.4em;
}

.pc {display: none;}
.sp {display: block;}

.map_pc {display: none;}
.map_tabsp {display: block;}

.pdb8rem_pc{padding-bottom:7rem!important;}
.pdb9rem_pc{padding-bottom:7rem!important;}
.pdb3rem_sp{padding-bottom:4rem!important;}

#header,
#glnav,
#main,
#footer {font-size: 90%;}

.left.off,
.right.off {float: none;}

/* outline setting :
--------------------------------------------*/

.outline {
	margin: 0 3%;
	width:94%;
}

.outline2 {
	width:100%;
}

/*---- frexible grid system ----*/

.off .grid_1_6,
.off .grid_1_5,
.off .grid_1_4,
.off .grid_1_3,
.off .grid_1_2,
.off .grid_2_3,
.off .grid_2_5,
.off .grid_3_5,
.off .grid_3_4 { 
	float: none;
	margin-left: 0;
}

.off .grid_1_6,
.off .grid_1_5,
.off .grid_1_4,
.off .grid_1_3,
.off .grid_1_2,
.off .grid_2_3,
.off .grid_3_4,
.off .grid_2_5,
.off .grid_3_5,
.off .grid_1_2_cen { width: auto; }

.flex.sp_clm2 > * { width: 48%;}
.flex.sp_clm3 > * { width: 32%;}
.flex.sp_clm4 > * { width: 24%;}
.flex.sp_clm5 > * { width: 19%;}
.flex.sp_clm6 > * { width: 15.5%;}

.flex.off > * { width: 100%!important;}


/*-- flexible image --*/

img.flex_img {
	box-sizing: border-box;
}

/*-- menu --*/

#header .outline {
	margin: 0!important;
	width: 100%;
}

#header .menu {
	display: block;
	position: absolute;
	left: 0px;
	top: 10px;
	text-align: left;
}


#header .right {float: none;}

#header .menu .open_close {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  margin: 0px 0 0px;
}


#header .menu .open_close_btn{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 2px;
  margin: -1px 0 0 -5px;
  background: #fff;
  transition: .2s;
}

#header .menu .open_close_btn:before,
#header .menu .open_close_btn:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 2px;
  background: #fff;
  transition: .3s;
}

#header .menu .open_close_btn:before{
  margin-top: -8px;
}
#header .menu .open_close_btn:after{
  margin-top: 6px;
}
#header .menu .open_close .open_close_btn.close {
  background: transparent;
}
#header .menu .open_close .open_close_btn.close:before,
#header .menu .open_close .open_close_btn.close:after {
  margin-top: 0;
}
#header .menu .open_close .close:before{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#header .menu .open_close .close:after{
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/*---- header setting ----*/

#header .left,
#header .right {
	float:none;
	width:98%;
}

#header .left h1#logo{
	margin:15px 20px 15px 40px;
	width:36%;
}
	
#header .left div#logo2 {
	margin:15px 20px 20px 0px;
	width:26%;
}
#header .left h1#logo img,
#header .left div#logo2 img{
	width:100%;
}
#header .right .entry { width:100%;}

/*-- search --*/

#header .search {
	display: none;
	width: 100%;
	float: none;
	background-color: rgba(0, 0, 0, 0.9);
	position: absolute;
	top: 62px;
	z-index: 970;
	padding: 12px 10px;
}

#header.sticky .search {
	top: 40px;
}

#header .search .txt {
	width: 65%;
	height: 24px;
}

#header .search_btn {
	position: absolute;
	text-align: right;
	right: 8px;
	top: 10px;
}

#header .right .search {
    margin: 0px;
    text-align: center;
    width: 100%;
	left: 0;
}

#header .search_btn .open_close {
  display: inline-block;
  position: relative;
  width: 31px;
  height: 31px;
}


#header .search_btn .open_close_btn {
  display: block;
  width: 31px;
  height: 31px;
  background: url(../img/common/search_btn.gif) no-repeat;
  background-size: 100%;
  background-position: right top;
}

#header .search_btn .open_close_btn.close {
	background: none;
}

#header .search_btn .open_close_btn.close:before,
#header .search_btn .open_close_btn.close:after {
  display: block;
  content: "";
  position: absolute;
  top: 70%;
  left: 10%;
  width: 22px;
  height: 2px;
  background: #fff;
}

#header .search_btn .open_close_btn.close:before{
  margin-top: -9px;
   transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#header .search_btn .open_close_btn.close:after{
  margin-top: -9px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/*==== グローバルナビゲーション ====*/

/*大カテゴリー*/

#glnav {
	border-bottom: none;
	position: absolute;
	z-index: 990;
	width: 100%;
	top: 0;
	background-color: transparent;
	padding:0 0 0 0;
}

#glnav .outline {
	margin: 0;
	padding: 0;
}

#glnav > ul {
	width: 100%;
	margin: 0;
	display: none;
	border-bottom: none;
	top: 0;
	z-index: 997;
}

#glnav li {
	display: block;
	background-color: rgba(0, 0, 0, 0.8);
}

#glnav li span {display: inline;}

#glnav li ul {
	top:0px;
	padding-top: 0px;
}

#glnav > ul > li {float: none;top: 0px;}

#glnav > ul > li > a {
	background-image: none!important;
	color: #fff;
	display:block;
	padding: 15px 5px 13px 18px;
	border-bottom: 1px solid #fff;
	line-height: 1.4em;
	border-left: none!important;
}

#glnav > ul > li > a:hover {text-decoration: none;}

#glnav > ul > li > a,
#glnav > ul > li > em {
	border-right: none;
	border-left: none;
}

/*サブメニュー*/

#glnav li ul {
	position: relative;
	font-size: 85%;
	width: 100%;
}

#glnav li ul li {
	border-bottom: 1px solid #fff;
}

#glnav > ul > li > a {
	background-image: none!important;
	color: #fff;
	display:block;
	padding: 15px 5px 13px 18px;
	border-bottom: 1px solid #fff;
	line-height: 1.4em;
	border-left: none!important;
}

#glnav > ul > li {width: 100%!important;}

/*---- footer setting ----*/

/*== ページの先頭へ ==*/

#page_top {
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
	bottom: 100px;
}

/*== SNS ==*/
.sns_fb {
	margin:0 10px 0 0;
	float:left;
}
.sns_tw {
	margin:0px 10px 0 0;
	float:left;
}
.sns_li {
	margin:0 0 0 0;
	float:left;
}

/*-- width --*/

.spw70 {width:70%;}
.spw80 {width:80%;}
.spw90 {width:90%;}
.spw100 {width:100%;}



/*---- footer setting ----*/

#footer1 {
	margin:0;
	padding:1% 0;
	border-top:1px solid #190F0F;
	border-bottom:1px solid #190F0F;
	font-size:90%;
}

#footer1 .left {
	width: 100%;
}

#footer1 .left img {
	float:left;
	width:40%;
	margin:1% 1% 2% 0;
}
#footer1 .left dl{
	float:left;
	width:100%;
	line-height:1.4em;
}
#footer1 .left dl dt{
	font-weight:bold;
}
#footer1 .right{
	width:100%;
	margin:5% 0 0 0;
}
#footer1 p{
	margin:0 0 3% 0;
	line-height:1.3em;
}

#footer #footer2 {
	text-align:center;
	margin:1% auto;
}
#footer #footer2 img {
	margin:1%;
	width:30%;
}

/*-- メガフッタ --*/

#footer #megafooter .left {
	margin-left: 3%;
	width: 46%;
}


/*-- modal --*/

.modal table {min-width: 900px;}

#contents a.print {display: none;}

/*-- sns setting --*/

#sns {margin: 1em 1% 0;}
#sns iframe {
	width: 105px;
}



/*== WPN会員ページローカルナビ ==*/

#member #lonav{
	font-size:100%;
}

#member #lonav .outline{
	margin:0;
}

#member #lonav li{
	display:block;
	border-bottom:solid 1px #9DB9AA;
}

#lonav > ul > li > a,
#lonav > ul > li > span,
#lonav > ul > li > em{
	float:none;
	padding: 15px;
}


/*GDPR*/
#gdpr {
    padding: 1rem 2rem 0.5rem;
    width: 90%;
    left: 3%;
}
